---
import Layout from "../../layouts/Layout.astro";
import { Form } from "../Form/Form";
---

<footer id="footer" class="relative">
	<div
		class="mx-auto max-w-screen-xl px-4 pb-8 pt-16 sm:px-6 lg:px-8 lg:pt-24">
		<div class="text-center">
			<h2
				class="text-white text-center text-4xl lg:text-[3vw] font-black  drop-shadow-md">
				Preparado para empezar?
			</h2>
			<p class="mx-auto mt-4 max-w-sm text-gray-500 py-10">
				Envianos un mensaje por nuestro formulario de contacto y te
				responderemos lo antes posible para ayudarte a empezar.
			</p>
			<Form client:visible />
		</div>

		<div
			class="mt-16 border-t border-gray-100 pt-8 flex items-center justify-center lg:mt-24">
			<ul
				class="flex flex-wrap justify-center gap-4 text-xs lg:justify-end">
				<li>
					<a
						href="#"
						class="text-gray-500 transition hover:opacity-75">
						Terms & Conditions
					</a>
				</li>

				<li>
					<a
						href="#"
						class="text-gray-500 transition hover:opacity-75">
						Privacy Policy
					</a>
				</li>

				<li>
					<a
						href="#"
						class="text-gray-500 transition hover:opacity-75">
						Cookies
					</a>
				</li>
			</ul>
		</div>
	</div>

	<!-- bg footer -->
	<div
		class="absolute bottom-0 rotate-0 right-0 w-full h-full -z-50 opacity-50">
		<svg
			class="inset-0 w-full h-full"
			viewBox="0 0 1 1"
			preserveAspectRatio="none"
			><defs
				><linearGradient
					id="copilot-workspace"
					x1="0"
					y1="1"
					x2="1"
					y2="0"
					><stop offset="0" stop-color="#d2e0d7"></stop><stop
						offset="1"
						stop-color="#d2e0d7"></stop></linearGradient
				></defs
			><path d="M0 1 Q 0.8 0.8 1 0 L 1 1 Z" fill="url(#copilot-workspace)"
			></path></svg
		>
	</div>
</footer>
