---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/Container.astro";
---

<Layout title="¿Por qué Lot Arquitectos?">
	<Container>
		<section class="flex flex-col items-center justify-center relative">
			<article class="w-full mt-20 md:py-20">
				<h3
					class="text-white text-center text-4xl lg:text-[5vw] font-black py-20 drop-shadow-md"
					id="why-lot">
					¿Por qué Lot Arquitectos?
				</h3>
			</article>
			<div class="text-black p-7 md:p-20 bg-white rounded-b-3xl">
				<p
					class="font-light text-start text-pretty text-base lg:text-xl">
					Somos un equipo de <strong>jóvenes arquitectos </strong>con
					una visión innovadora y una sólida experiencia en la
					creación de hogares de última generación. Nos comprometemos
					a brindar <strong
						>soluciones integrales y personalizadas</strong
					>, fusionando creatividad y funcionalidad en cada proyecto.
					Desde el <strong>diseño hasta la construcción</strong>,
					trabajamos estrechamente con nuestros clientes para
					convertir sus ideas en espacios habitables que reflejen su
					<strong>estilo de vida.</strong>
				</p>
			</div>
			<hr />
		</section>
	</Container>
</Layout>

<!-- <SmoothPicture image={image1} text="arquitectos jóvenes" />
</span> -->

<style>
	section {
		animation: reveal2 linear both;
		animation-timeline: view();
		animation-range: entry 10% cover 30%;
	}
	@keyframes reveal2 {
		from {
			opacity: 0;
			transform: translateY(20px);
			scale: 0.8;
		}
	}

	article {
		position: relative;
		background-image: url("../../img/home-4.jpg");
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		border-radius: 1rem 1rem 0 0;
		top: 0;
		left: 0;
	}
	hr {
		/* create a amazin gr gradiente */
		border: 0;
		height: 0.25rem;
		background-image: linear-gradient(
			to right,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 1),
			rgba(255, 255, 255, 0)
		);
		width: 100%;
		margin-block: 2rem;
	}
	strong {
		font-weight: 700;
	}
</style>
