---
import GridPicture from "../components/sections/GridPicture.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Steps from "../components/sections/Steps.astro";
import WhyLot from "../components/sections/WhyLot.astro";
import Inmersion from "../components/sections/Inmersion.astro";
import Layout from "../layouts/Layout.astro";
import Address from "../components/sections/Address.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout title="Bienvenidos a Lot Arquitectos">
	<Hero />
	<main>
		<Projects />
		<WhyLot />
		<GridPicture />
		<Steps />
		<Address />
		<Inmersion />
	</main>
	<Footer />
</Layout>

<style></style>
