---
import GridPicture from "../components/sections/GridPicture.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Steps from "../components/sections/Steps.astro";
import WhyLot from "../components/sections/WhyLot.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a Lot Arquitectos">
	<Hero />
	<main>
		<Projects />
		<WhyLot />
		<GridPicture />
		<Steps />
	</main>
	<!-- <Inmersion /> -->
</Layout>

<style></style>
