---
import GridPicture from "../components/sections/GridPicture.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Steps from "../components/sections/Steps.astro";
import WhyLot from "../components/sections/WhyLot.astro";
import Inmersion from "../components/sections/Inmersion.astro";
import Layout from "../layouts/Layout.astro";
import Address from "../components/sections/Address.astro";
import Footer from "../components/sections/Footer.astro";
import CactaTest from "../components/sections/NewSectionCacta.astro";
import SocialBest from "../components/sections/SocialBest.astro";
import SocialBest2 from "../components/sections/SocialBest2.astro";
import BentoInfo from "../components/sections/BentoInfo.astro";
import OportunidadesTikTok from "../components/sections/OportunidadesTikTok.astro";
import FixedImages from "@components/FixedImages.astro";
import Pricing from "@components/Pricing.astro";
---

<Layout title="Bienvenidos a Lot Arquitectos">
	<Hero />
	<main>
		<CactaTest />
		<SocialBest />
		<BentoInfo />
		<SocialBest2 />
		<OportunidadesTikTok />
		<FixedImages />

		<Projects />
		<WhyLot />
		<GridPicture />
		<Steps />
		<Address />
		<Inmersion />
		<Pricing />
	</main>
	<Footer />
</Layout>

<style></style>
