---
import Hero from "../components/sections/Hero.astro";
import Inmersion from "../components/sections/Inmersion.astro";
import Projects from "../components/sections/Projects.astro";
import WhyLot from "../components/sections/WhyLot.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bienvenidos a Lot Arquitectos">
	<Hero />
	<main>
		<Projects />
		<WhyLot />
		<Inmersion />
	</main>
</Layout>

<style></style>
